.photo {
    
    float:left;
    margin-left: 1em;
}
.description {
    float: left;
    padding-left:  1em;    
}
.content{
    clear: left;
    padding-left: 1em;
}
#arrowpointer{
    list-style-type:"\27A4"
}
#nopointer{
    list-style-type: none;
}
b{
    letter-spacing: normal;
    color: black;
    font-family: 'Merriweather';

}
h2{
    letter-spacing: normal;
    color: black;
}
a{
    text-decoration: none;
    
}
.behind{
    min-width:1000px;
}
section {
 
line-height: 180%;
letter-spacing: 0.07em;
background: #FDEAA8;
color: #45161C;
border-radius: 1em;
padding: 1em;
position: absolute;
margin 30%;
}
